@import url(variables.css);
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background:var(--color-1);
}

header{
}
body {
font-family: "heavy", sans-serif;
}

.div__photo{
margin-top: 50px;
}
.div__photo img{
width: 50%;
}

.div__titulo{
display: flex;
flex-direction: column;
gap: 20px;
line-height: 1.3;
position: absolute;
/* background-color: yellowgreen; */
padding-left: 60%;
padding-top: 0px;
justify-content: center;
top: 50px;

}

.div__titulo h1{
font-size: 60px;
font-weight: 570;
}

.div__titulo p{
font-size: 27px;
color: #252525c7;
}

.div__titulo button{
font-size: 18px;
color: rgba(240, 248, 255, 0.947);
width: 155px;
height: 50px;
border-radius: 18px;
background-color: #252525;
}

.div__contenedor{
position: absolute;
display: flex;
flex-direction: column;
gap: 40px;
top: 500px;
/* background-color: blue; */
padding-left: 60%;
}

.caja1{
display: flex;
flex-direction: column;
gap: 10px;

}

.caja2{
display: flex;
flex-direction: column;
gap: 10px;

}

.caja1 p{
font-size: 25px;
color: #252525c7;
}

.caja2 p{
font-size: 25px;
color: #252525c7;

}

.caja1 h2{
font-size: 38;
color: #25252579;
}
.caja2 h2{
font-size: 38;
color: #25252579;}

