:root{

    --color-1: #eee;
    --color-2: #000;
    --color-3: #ffffff;
    --color-4: #685FD4;
    
    --color-3: #888;
    --color-4: #555;
    
}

@font-face {
    font-family: "example";
    src: url(../storage/font/example.ttf);
}

