<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>
<body>
    <header class="header">
        <div class="content">
        <h1>Discover the beauty <br> around the world</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
        <button>Get started</button>
        </div>
        <div class="div__img">
        <img src="" alt="Nature Image">
        </div>
        </header>
        <section class="galeria">
        <div class="galeria-item">
        <span>01</span>
        <img src="" alt="Forest">
        </div>
        <div class="galeria-item">
        <span>02</span>
        <img src="" alt="Lake">
        </div>
        <div class="galeria-item">
        <span>03</span>
        <img src="" alt="Field">
        </div>
        <div class="galeria-item">
        <span>03</span>
        <img src="" alt="Field">
        </div>
        </section>
    </div>
    
</body>
</html>