<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="../css/style6.css">
</head>
<body>
    <div class="div__logo">
        <img src="../storage/img/Font circle.svg">
    </div>
    <main class="caja__main">
        <div class="caja__h1">
            <h1>THE Watch with the newest microchip technology</h1>
        </div>
        <div class="caja__p">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        </div>
        <div class="caja__boton">
            <a class="boton_blanco" href="#">Order now</a>
            <a class="boton_negro" href="#">Explore more</a>
        </div>
    </main>
    <section class="section__icons">
        <div class="icon__1">
            <img src="../storage/img/Icons.svg">
            <p>Lorem ipsu dolor amet</p>
        </div>
        <div class="icon__2">
            <img src="../storage/img/Icons (1).svg">
            <p>Lorem ipsu dolor amet</p>
        </div>
        <div class="icon__3">
            <img src="../storage/img/Icons (2).svg">
            <p>Lorem ipsu dolor amet</p>
        </div>
        <div class="icon__4">
            <img src="../storage/img/Icons (3).svg">
            <p>Lorem ipsu dolor amet</p>
        </div>
    </section>
    <section class="section__photos">
            <img class="derecha" src="../storage/img/Stroke.svg">
            <img class="estrella_derecha" src="../storage/img/star (1).svg">
            <img class="izquierda" src="../storage/img/Stroke (1).svg">
            <img class="foto_central" src="../storage/img/unsplash_QRWAdBCqysc.svg">
            <img class="estrella_inferior" src="../storage/img/star (2).svg">
            <img class="estrella_mediana" src="../storage/img/star (2).svg">
            <div class="texto_1">
                <p>Ergonomic desing</p>
            </div>
            <div class="texto__2">
                <p>Award winning product</p>
            </div>
    </section>
</body>
</html>