<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCUMENT</title>
    <link rel="stylesheet" href="../css/style6.css">
</head>
<body>
    <div class="div__logo">
        <img src="">
    </div>
    <main class="caja__main">
        <div class="caja__h1">
            <h1>THE Watch with the newest microchip technology</h1>
        </div>
        <div class="caja__p">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
        </div>
        <div class="caja__boton">
            <a class="boton_blanco" href="#">Order now</a>
            <a class="boton_negro" href="#">Explore more</a>
        </div>
    </main>
    <section class="section__icons">
        <div class="icon__1">
            <img src="">
            <p>Lorem ipsu dolor amet</p>
        </div>
        <div class="icon__2">
            <img src="">
            <p>Lorem ipsu dolor amet</p>
        </div>
        <div class="icon__3">
            <img src="">
            <p>Lorem ipsu dolor amet</p>
        </div>
        <div class="icon__4">
            <img src="">
            <p>Lorem ipsu dolor amet</p>
        </div>
    </section>
    <section class="section__photos">
            <img class="derecha" src="">
            <img class="estrella__derecha" src="">
            <img class="izquierda" src="">
            <img class="foto__central" src="">
            <img class="estrella__inferior" src="">
            <img class="estrella__mediana" src="">
            <div class="texto__1">
                <p>Ergonomic desing</p>
            </div>
            <div class="texto__2">
                <p>Award winning product</p>
            </div>
    </section>
</body>
</html>